<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风阅小说，有你好看</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    -->



</head>
<body style="margin: 0 auto">

    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="/static/novel_search/logo.png" style="width: 70%; margin-right: 0px">
        </div>
        <div class="col-md-7" style="margin-top: 70px">
            <form class="form-inline" action="{% url "novel_index" %}" method="get">
                <div class="form-group" style="width: 50%">
                    <label class="sr-only" for="search_content">search</label>
                    <input type="text" class="form-control" style="width: 100%" id="search_content" placeholder="书名、作者" name="search_content">
                </div>
                <button type="submit" class="btn btn-default" name="operation" value="search">搜索</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; margin-left: 10px">

        <div class="col-md-2" style="position: fixed">
            <ul class="list-group" style="width: 100%">
                    <li class="list-group-item" style="background-color: #2aabd2">
                        条件筛选：
                    </li>
                    <li class="list-group-item">
                        站点来源
                    </li>
                    <li class="list-group-item">
                        阅读次数
                    </li>
                    <li class="list-group-item">
                        评论次数
                    </li>
                    <li class="list-group-item">
                        收藏次数
                    </li>

                    <li class="list-group-item" style="background-color: #2aabd2">
                        排序：
                    </li>

                    <li class="list-group-item">
                        <label onclick="sort()">
                             <button id="read" value="1">阅读</button>
                        </label>
                        <span>&nbsp</span>
                        <label onclick="sort()">
                            <button id="review" value="2">评论</button>
                        </label>
                        <span>&nbsp</span>
                        <label onclick="sort()">
                            <button id="collection" value="3"> 收藏</button>
                        </label>
                        <br/>
                        <label onclick="sort()">
                            <button id="click" value="4">点击</button>
                        </label>
                        <span>&nbsp</span>
                        <label onclick="sort()">
                            <button id="popularity" value="5">人气</button>
                        </label>



                    <li class="list-group-item">
                        <label onclick="sort_down()">
                            <button id="down" value="1">降序</button>
                        </label>
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        <label onclick="sort_up()">
                            <button id="up" value="0">升序</button>
                        </label>
                    </li>
                </ul>

        </div>

        <div class="col-md-7 col-md-offset-2">
            <div class="panel-default ">
                    {% for book in next_page_info.page_item %}
                        <div class="row list-group-item">
                            <div class="col-md-2" style="margin-right: 0">
                                <a href="{{ book.book_url }}" target="_blank">
                                    <img src="{{ book.image }}" class="img-rounded" style="width: 80%">
                                </a>
                            </div>

                            <div class="col-md-10">
                                <h4 class="list-group">
                                    <a href="{{ book.book_url }}">
                                        <strong>{{ book.book_name }}</strong>
                                    </a>
                                    <small>&nbsp&nbsp&nbsp&nbsp{{ book.author }}&nbsp著</small>
                                </h4>

                                <p class="list-group">
                                    <sapn class="label label-info">类别：{{ book.category }}</sapn>
                                    <sapn class="label label-primary">字数：{{ book.total_words}}</sapn>
                                    <sapn class="label label-success">阅读：{{ book.read_times }}</sapn>
                                    <sapn class="label label-warning">点击{{ book.click_times }}</sapn>
                                    <sapn class="label label-primary">评论：{{ book.review_times }}</sapn>
                                    <sapn class="label label-info">收藏：{{ book.collection_times }}</sapn>
                                </p>

                            </div>
                        </div>
                    {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                    <nav aria-label="Page navigation">
                <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in next_page_info.page_list %}
                    <li>
                        <a href="https://www.baidu.com">{{ page }}</a>
                    </li>
                {% endfor %}
                <li>

                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
              </ul>
            </nav>
                </div>
            </div>


        </div>


        <div class="col-md-3"></div>
    </div>

    <script>
        function sort_down() {
            var url = "/novel_search/" + "novel_sort=" + document.getElementById("click").value + "_"  + document.getElementById("down").value + "&page=" + "1";
            window.location = url
        }
        function sort_up() {
            var url = "/novel_search/" + "novel_sort=" + document.getElementById("click").value + "_"  + document.getElementById("up").value + "&page=" + "1";
            window.location = url
        }



    </script>

</body>


</html>